.Tweets_1word_container {
    display: flex;
    justify-content: flex-end;
}

.Tweets_1word {
    margin-right: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid blue;
    width: min-content;
}