.tweet_container {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    margin-bottom: 3vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border: 2px solid rgb(245, 242, 242);
    border-radius: 10px;
    padding: 10px;
}

.tweet_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.tweet_hashtag {
    color: blue;
}

.tweet_character {
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.tweet_time {
    color: rgb(141, 140, 140)
}